.headerContainer {
  background-image: url('https://ddangkongschool.com/8358b32838f4b212cf113ad6c4ea9996.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
